@import url(./fontello.css);

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%); 
}

nav ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    flex-direction: row;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

#nav-logo img {
    width: 100px;
    height: 36px;
    margin: 10px;
}

nav ul li {
    font-size: 10px;
    list-style: none;
    margin: 1.5em 1em;
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #b2b2b2;
    transition: 0.5s ease all;
}